body {
    font-family: Roboto Slab, serif;
    font-size: 12px;
    line-height: 1.33;
    color: #4a4a4a;
    width: 280px;
    margin: 12px;
}

.share {
    height: 10px;
}

.highlight {
    display: inline-block;
    color: #4a4a4a;
    text-decoration: underline;
}

.with-background {
    display: inline-block;
    background-color: #ffb6c1;
    padding: 3px 4px;
    text-decoration: underline;
}