body {
    font-family: Roboto Slab, serif;
    font-size: 12px;
    line-height: 1.33;
    color: #4a4a4a;
    width: 280px;
}

.share {
    height: 10px;
}

a .share {
    display: inline-block;
}

a {
    color: #4a4a4a;
}